.cylinder_content {
    position:absolute;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 35%;
    z-index: -1;
    opacity: 0;
    transition: opacity .4s;
}

.cylinder_content.active {
  opacity: 1;
  transition: all .4s;
}

.cylinder_gallery {
    width: 400px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 30s infinite linear;

}

.cylinder_images {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(-25deg) rotateY(0deg);
}
  
  .cylinder_images img {
    position: absolute;
    width: 30vw;
    height: 40vh;
    /* max-width: 400px;
    max-height: 600px; */
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
  
  .cylinder_images img:nth-child(1) {
    transform: rotateY(0deg) translateZ(16vw); }
  
  .cylinder_images img:nth-child(2) {
    transform: rotateY(90deg) translateZ(16vw); }
  
  .cylinder_images img:nth-child(3) {
    transform: rotateY(180deg) translateZ(16vw); }
  
  .cylinder_images img:nth-child(4) {
    transform: rotateY(270deg) translateZ(16vw); }
  
  /* Animation for smooth rotating */
  @keyframes rotate {
    from {
      transform: rotateY(0deg); }
    to {
      transform: rotateY(360deg); } }

@media (min-width: 1600px) {
  .cylinder_images img:nth-child(1) {
    transform: rotateY(0deg) translateZ(270px); }
  
  .cylinder_images img:nth-child(2) {
    transform: rotateY(90deg) translateZ(270px); }
  
  .cylinder_images img:nth-child(3) {
    transform: rotateY(180deg) translateZ(270px); }
  
  .cylinder_images img:nth-child(4) {
    transform: rotateY(270deg) translateZ(270px); }
}

@media (min-width: 1920px) {
  .cylinder_images img:nth-child(1) {
    transform: rotateY(0deg) translateZ(400px); }
  
  .cylinder_images img:nth-child(2) {
    transform: rotateY(90deg) translateZ(400px); }
  
  .cylinder_images img:nth-child(3) {
    transform: rotateY(180deg) translateZ(400px); }
  
  .cylinder_images img:nth-child(4) {
    transform: rotateY(270deg) translateZ(400px); }
}
  