@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
html {
    font-size: 10px;
    scrollbar-width: thin;
    scrollbar-color: #141414 #f0f0f0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #141414;
  border-radius: 20px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background: #141414;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}


body {
    margin: 0;
    padding: 0;
    font-family: "Sofia Sans", sans-serif;
    background-color: #141414 !important;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.mr-3 {
    margin-right: 3rem;
}

.ml-3 {
    margin-left: 3rem;
}
section{
    position: relative;
    background-color: #141414;
}

/* section one style start */
.section__one {
    min-width: 100%;
    height: 100vh;
    background: url('./images/section_one_back.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
}

.section__title {
    text-align: center;
    color: #fff;
    height: 100vh;
    min-width: 100%;
    position: sticky;
    top: 0;
}
.section__one__ii_bg_img {
    height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
}
.section__title h1 {
    font-size: 26.8rem;
    font-weight: 208px;
    text-transform: uppercase;
    transition: all ease .4s;
}
.section__one__ii_bg_img p {
    font-size: 4.4rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    width: 70%;
    transition: all ease .4s;
}


/* section one style end */


/* section two style start */

.section__two {
    /* padding: 15rem 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #141414 !important;
}

.section__two__wrapper {
    width: 50%;
    position: relative;
}

.section__two .section__two__container {
    width: auto;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section__two .section__two__container .square__img {
    width: 0;
    height: 0;
    opacity: 0;
    background: url('./images/section_two.jpeg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease .5s;
}
.section__two .section__two__container .square__img.active {
    width: 65.4rem;
    height: 80rem;
    opacity: 1;

}

.section__two .section__two__container .circle__img {
    background: url('./images/section_two_2.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 44.8rem;
    height: 57.1rem;
    border-radius: 100rem;
    position: absolute;
    left: 50rem;
    /* bottom: -5rem; */
    top: -5rem;
    position: absolute;
}

.section__two__text {
    position: absolute;
    /* transform: rotate(270deg); */
    bottom: 8rem;
    left: 7rem;
}

.section__two__text h1 {
    font-size: 9rem;
    color: #fff;
    text-transform: uppercase;
}


/* section two style end */


/* section three style start */
.section__three{
    width: 100%;
    height: 100vh;
    position: relative;
}

.section__three .circle__img {
    background: url('./images/section_two_2.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 44.8rem;
    height: 57.1rem;
    border-radius: 100rem;
    position: absolute;
    left: 100rem;
    top: -90rem;
    transition: all ease-in-out .4s;

}
.section__three .circle__img.active {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

/* section three style end */

/* section four style end */

.section__four{
    width: 100%;
    height: 100vh;
}
.section__four__text{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #141414;
}
.section__four__text h1{
    width: 65%;
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.section__four__text p{
    width: 65%;
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
}

.forani{
    transform: translateY(40rem);    
    transition: all ease .8s;
    opacity: 0;
}
.forani.active{
    transform: translateY(0);    
    opacity: 1;
}

/* section four style end */
/* section five style start */
.section__five{
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    position: relative;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    min-width: 70%;
    height: 80rem;
}

.container .slide .item{
    width: 70rem;
    height: 54rem;
    position: absolute;
    top: 80%;
    transform: translate(0, -50%);
    border-radius: 2rem;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.slide .item:nth-child(3){
    top: 66%;
    left: 102%;
}
.slide .item:nth-child(4){
    top: 66%;
    left: calc(102% + 620px);
}
.slide .item:nth-child(5){
    top: 66%;
    left: calc(102% + 640px * 2);
}

.slide .item:nth-child(n + 6){
    top: 66%;
    left: calc(102% + 640px * 3);
    opacity: 0;
}

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button{
    text-align: center;
    position: absolute;
    display: flex;
    right: 0;
    left: 73%;
    top: 20%;
}

.button button{
    width: 4rem;
    height: 3.5rem;
    border-radius: .8rem;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #fff;
    transition: 0.3s;
    padding: 4rem;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    margin-right: 40px;
}

.button button:hover{
    cursor: pointer;
}
/* section five style end */

/* section six style start */
.section__six{
    background-color: #141414;
    width: 100%;
    overflow: hidden;
    height: 100vh;

}
.section__six__title{
    font-size: 14.2rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.section__six__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    transition: all ease 1s;

}
.section__six__img_bg{
    height: 80vh;
    width: 50%;
    background: url('./images/interyer.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50% 50% 0% 0%;
    outline: 20rem solid #fff;
    border-bottom: none;
    transition: all ease 1s;
}
.section__six__img_bg.active{
    width: 100%;
    height: 100vh;
    outline: 50rem solid #fff;
}


.section__seven{
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
}
.section__ei{
    width: 100%;
    height: 100vh;
    background-color: #141414;
    margin: 2rem 0;
}
.section__ei_img_container{
    height: 100vh;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__ei__square__img{
    background-image: url('./images/II.jpeg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.section__ei__square__img div{
    width: 40rem;
    height: 60rem;
    background-color: transparent;
    border-radius: 50%;
    outline: solid 50rem #141414;
    outline-offset: 5rem;
    transition: all ease .5s;

}
.section__ei__square__img:hover.section__ei__square__img div{
    outline-offset: 45rem;
    cursor: pointer;
}
.section__ei__circle__img{
    background-image: url('./images/III.jpeg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.section__ei__circle__img div{
    width: 40rem;
    height: 60rem;
    background-color: transparent;
    border-radius: 50%;
    outline: solid 50rem #141414;
    outline-offset: 5rem;
    transition: all ease .5s;

}
.section__ei__circle__img:hover.section__ei__circle__img div{
    outline-offset: 45rem;
    cursor: pointer;
}

/* section nine style start */
.section__nine{
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    position: relative;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    min-width: 70%;
    height: 80rem;
}

.container .slide2 .item2{
    width: 70rem;
    height: 54rem;
    position: absolute;
    top: 80%;
    transform: translate(0, -50%);
    border-radius: 2rem;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide2 .item2:nth-child(1),
.slide2 .item2:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.slide2 .item2:nth-child(3){
    top: 66%;
    left: 102%;
}
.slide2 .item2:nth-child(4){
    top: 66%;
    left: calc(102% + 620px);
}
.slide2 .item2:nth-child(5){
    top: 66%;
    left: calc(102% + 640px * 2);
}

.slide2 .item2:nth-child(n + 6){
    top: 66%;
    left: calc(102% + 640px * 3);
    opacity: 0;
}

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button{
    text-align: center;
    position: absolute;
    display: flex;
    right: 0;
    left: 73%;
    top: 20%;
}

.button button{
    width: 4rem;
    height: 3.5rem;
    border-radius: .8rem;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #fff;
    transition: 0.3s;
    padding: 4rem;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    margin-right: 40px;
}

.button button:hover{
    cursor: pointer;
}
/* section nine style end */

/* section ten style start  */
.section__ten{
    width: 100%;
    height: 100vh;
    background-color: #2E3832;
}
.section__ten_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section__ten_container h1{
    color: #fff;
    font-size: 14rem;
    text-transform: uppercase;
}
.section__ten_container .section__ten_img{
    /* border-radius: 50% 0; */
    width: 0;
    height: 0;
    background: url('./images/section_two.jpeg');
    background-position: center;
    background-size: cover;
    transition: all ease-in-out .4s;
    opacity: 0;
}
.section__ten_container .section__ten_img.active{
    width: 70%;
    height: 84vh;
    opacity: 1;
}
/* section ten style end */

/* section__ele  style start*/

.section__ele{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__ele_container{
    width: 104rem;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__ele_container .text__circle__img{
    width: 0;
    min-height: 100%;
    position: relative;
    transition: all ease-in-out .4s;
    opacity: 0;


}
.section__ele_container .text__circle__img.active{
    width: 50%;
    opacity: 1;
}
.section__ele_container .text__circle__img div{
    width: 50rem;
    height: 70vh;
    background-image: url('./images/III.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 13318.66px;
    position: absolute;
    right: -10rem;
}
.text__circle__img p{
    font-size: 3.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: -5rem;
    width: 80rem;
    right: -40rem;

}
.section__ele_container .square__img{
    background-image: url('./images/interyer.jpeg');
    background-position: center;
    background-size: cover;
    width: 80%;
    min-height: 95vh;
    transition: all ease .4s;
}


/* section__ele  style end*/

/* section__twe  style start*/
.section__twe{
    width: 100%;
    min-height: 100vh;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__twe__container{
    min-height: 80vh;
    width: 100%;
    background-image: url('./images/section_one_back.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;

}
.section__twe__container img{
    width: 80rem;
    height: 0;
    position: absolute;
    box-shadow: .1rem .1rem 1rem #141414;
    transition: height ease-in-out .4s;
}
.twe_img_1.active, .twe_img_2.active{
    height: 45rem;
}

.twe_img_1{
    top: -8.4rem;
    left: 0;
}
.twe_img_2{
    bottom: -8.4rem;
    right: 0;
}
/* section__twe  style end*/
/* section__th  style start*/
.section__th{
    width: 100%;
    height: 100vh;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
}
.section__th__container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    position: relative;
}
.section__th__container img{
    width: 100%;
    height: 100%;
}
.circle__opening__animation{
    position: absolute;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background-color: transparent;
    outline: 110rem solid rgba(0, 0, 0, 0.8);
    margin: auto;
    transition: all ease-in-out .7s;
    opacity: 1;
}
.circle__opening__animation.active{
    width: 170rem;
    height: 170rem;
    opacity: 0;
}
/* section__th  style end*/

/* section__fo  style start*/
.section__fo{
    width: 100%;
    height: 200vh;
    background-color: #141414;
    padding: 1rem 0;
}
.section__fo__container{
    width: 100%;
    height: 200vh;
    background-image: url('./images/section_one_back.jpeg');
    border-radius: 50% 50% 0 0;
    display: flex;
    align-items: flex-end;
}
.box__container{
    width: 60%;
    height: 150vh;
    position: relative;
    margin: auto;
}
.box__container p{
    font-size: 2rem;
    color: #fff;
    text-align: end;
}
.box__container .box_size{
    font-size: 6.4rem;
    text-align: start;
}
.box1, .box2, .box3{
    position: absolute;
    width: 20rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #4A4A4A;
} 
.box1{
    top: 0;
}

.box2{
    top: 50%;
    right: 0;
}
.box3{
    bottom: 0;


}
/* section__fo  style end*/
/* section__fi  style start*/
.section__fi{
    width: 100%;
    height: 100vh;
}
.section__fi__container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section__fi__img{
    width: 33%;
    height: 40rem;
}
/* section__fi  style end*/

/* footer style start */
footer{
    width: 100%;
    height: 100vh;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    position: relative;
}
.footer__container{
    width: 85%;
    margin: 0 auto;
}

.footer__title{
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    line-height: 68.82px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.footer__inputs_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.footer__inputs_container input{
    width: 30%;
    font-size: 2.2rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: .2rem solid #2E3832;
    padding: 1rem 2rem;
    color: #fff;
}
.big__footer__text{
    font-size: 20rem;
    text-transform: uppercase;
    color: #4A4A4A;

}

.footer__data__links{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
}
.footer__card p{
    color: #fff;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding: 2rem 0;
}
.footer__card a{
    font-size: 1.8rem;
    color: #fff;
}
.footer__card div{
    display: flex;
    flex-direction: column;
}
.footer__card div svg{
    font-size: 1.6rem;
    width: 100%;
    margin-right: 1rem;
}
.social__body{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: flex-start;
}
.footer__bottom{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    
}
.footer__bottom p{
    color: #4A4A4A;
    font-size: 2.4rem;
    margin: 0 3rem;
}
/* footer style end */



.scroll__slider{
    height: 100vh;
    width: 100%;
    background-color: #141414;
    padding: 8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.scroll__slider h1{
    font-size: 4.8rem;
    padding: 0 10rem;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
}
.scroll__slider a{
    font-size: 3.8rem;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10rem;
}
.bg__image__container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.bg__image__container img{
    min-width: 80rem;
    margin: 0 2rem;
    height: 60rem;
}